<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Under Maintenance</title>
</head>

<body>
    <div>
        {% include 'nav.html' %}
        <h1>Website Under Maintenance</h1>
        <p>We are currently performing scheduled updates to improve your experience.</p>
        <p>The website will be back online soon. Please check back later.</p>
        <p>Thank you for your patience!</p>

        <p class="contact">If you have any urgent inquiries, please contact us at <a href="mailto:akhomich@mail.uni-paderborn.de
                ">akhomich@mail.uni-paderborn.de
            </a>.</p>
    </div>


</body>

</html>