<!DOCTYPE html>
<html lang=en>

<head>
    {% include 'head.html' %}
</head>

<body>
    <div id="container">

        {% include 'nav.html' %}

        <h1>API: Web services</h1>

        <ul>
            {% for e in api_entries %}
            <li>
                <a href="{{ url_for('api') }}#{{ e.slug }}">{{ e.path }}</a>
            </li>
            {% endfor %}
        </ul>

        <h2 id="ping">/api/v1/ping</h2>
        <table>
            <tr>
                <td class="title">Description</td>
                <td>Returns HTTP code 200, if embedddings.cc is running stable.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/ping</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST or GET</td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
if httpx.get('https://embeddings.cc/api/v1/ping').status_code == 200:
    print('Status: OK')
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form onsubmit="return apiCall(this, 'GET', '/api/v1/ping', {}, null, 'ping_result')">
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="ping_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_indices">/api/v1/get_indices</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Gets available indices (databases).</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_indices</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of available indices, format: JSON</td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
    response = httpx.post('https://embeddings.cc/api/v1/get_indices')
    if response.status_code == 200:
        print(response.text)
    else:
        print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCall(this, 'POST', '/api/v1/get_indices', {}, null, 'get_indices_result')">
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_indices_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_size">/api/v1/get_size</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Gets number of available entities.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_size</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameter</td>
                <td>
                    <em>index</em> { optional, format: JSON }
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>Number of available entities, format: text </td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_size', json={'index': 'whale'})
if response.status_code == 200:
    print(response.text)
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCall(this, 'POST', '/api/v1/get_size', {'index':'whale'}, null, 'get_size_result')">
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_size_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_random_entities">/api/v1/get_random_entities</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Gets identifiers of example entities.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_random_entities</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameters</td>
                <td>
                    <em>size</em> { default: 10, max: 100, format: JSON } <br />
                    <em>index</em> { optional, format: JSON }
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of entity identifiers, format: JSON </td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_random_entities', json={'index': 'whale', 'size': 10})
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCall(this, 'POST', '/api/v1/get_random_entities', {index: 'whale', size:document.getElementById('get_random_entities_size').value}, 'get_random_entities_input', 'get_random_entities_result')">
                        <input type="number" id="get_random_entities_size" value="10" min="1" max="100">
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-input">
                <td class="title">Test input</td>
                <td class="code">
                    <pre><code id="get_random_entities_input" class="language-json"></code></pre>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_random_entities_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_entities">/api/v1/get_entities</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Gets entities, starting from offset.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_entities</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameters</td>
                <td>
                    <em>size</em> { default: 100, max: 10000, format: JSON } <br />
                    <em>offset</em> { default: 0, format: JSON } <br />
                    <em>index</em> { optional, format: JSON }
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of entity identifiers, format: JSON </td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_entities', json={'index': 'whale', 'size': 100, 'offset': 0})
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCall(this, 'POST', '/api/v1/get_entities', {index:'whale', size:document.getElementById('get_entities_size').value, offset:document.getElementById('get_entities_offset').value}, 'get_entities_input', 'get_entities_result')">
                        <input type="number" id="get_entities_size" value="100" min="1" max="1000">
                        <input type="number" id="get_entities_offset" value="0" min="0">
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-input">
                <td class="title">Test input</td>
                <td class="code">
                    <pre><code id="get_entities_input" class="language-json"></code></pre>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_entities_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_embeddings">/api/v1/get_embeddings</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Takes entity identifiers and gets their embeddings.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_embeddings</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameters</td>
                <td>
                    <em>entities</em> { value: list of entity identifiers, max: 100, format: JSON } <br />
                    <em>index</em> { optional, format: JSON }
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of 2-element-lists (entity identifier and embeddings), format: JSON</td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_embeddings', json={'index': 'whale', 'entities': ['http://example.org/1', 'http://example.org/2']})
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form id="get-embeddings-form">
                        <textarea id="get_embeddings_parameters">
[
  "http://example.org/1", 
  "http://example.org/2"
]
</textarea>
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-input" style="display: none;">
                <td class="title">Test input</td>
                <td class="code">
                    <pre><code id="get_embeddings_input" class="language-json"></code></pre>
                </td>
            </tr>
            <tr class="test-result" style="display: none;">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_embeddings_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>


        <h2 id="get_similar_embeddings">/api/v1/get_similar_embeddings</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Takes embeddings and gets the top 10 similar embeddings based on cosine similarity.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_similar_embeddings</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameters</td>
                <td>
                    <em>embeddings</em> { value: list of embeddings, max: 100, format: JSON } <br />
                    <!-- <em>index</em> { optional, format: JSON } -->
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of 4-element-lists (request index, cosine similarity, entity identifier and embeddings),
                    format: JSON</td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_similar_embeddings', json={'embeddings': [[-0.1, 0.0, 0.1], [-0.2, 0.0, 0.2]]})
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCallParse(this, 'POST', '/api/v1/get_similar_embeddings', 'embeddings', 'get_similar_embeddings_parameters', 'get_similar_embeddings_input', 'get_similar_embeddings_result')">
                        <textarea id="get_similar_embeddings_parameters">
[
  [], 
  []
]
</textarea>
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-input">
                <td class="title">Test input</td>
                <td class="code">
                    <pre><code id="get_similar_embeddings_input" class="language-json"></code></pre>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_similar_embeddings_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>



        <h2 id="get_similar_entities">/api/v1/get_similar_entities</h2>

        <table>
            <tr>
                <td class="title">Description</td>
                <td>Takes entity identifiers and gets the top 10 similar entity identifiers based on the cosine
                    similarity of their embeddings.</td>
            </tr>
            <tr>
                <td class="title">URL</td>
                <td>https://embeddings.cc/api/v1/get_similar_entities</td>
            </tr>
            <tr>
                <td class="title">HTTP method</td>
                <td>POST</td>
            </tr>
            <tr>
                <td class="title">Parameters</td>
                <td>
                    <em>embeddings</em> { value: list of entity identifiers, max: 100, format: JSON } <br />
                    <!-- <em>index</em> { optional, format: JSON } -->
                </td>
            </tr>
            <tr>
                <td class="title">Returns</td>
                <td>List of 3-element-lists (request index, cosine similarity and entity identifier), format: JSON
                </td>
            </tr>
            <tr>
                <td class="title">Python code example</td>
                <td class="code">
                    <pre><code class="language-python">import httpx
response = httpx.post('https://embeddings.cc/api/v1/get_similar_entities', json={'entities': ['http://example.org/1', 'http://example.org/2']})
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)
</code></pre>
                </td>
            </tr>
            <tr>
                <td class="title">Test</td>
                <td>
                    <form
                        onsubmit="return apiCallParse(this, 'POST', '/api/v1/get_similar_entities', 'entities', 'get_similar_entities_parameters', 'get_similar_entities_input', 'get_similar_entities_result')">

                        <textarea id="get_similar_entities_parameters">
[
  "http://example.org/1", 
  "http://example.org/2"
]
</textarea>
                        <input type="submit" value="Test API method">
                        <span class="spinner" style="display: none;">Loading...</span>
                    </form>
                </td>
            </tr>
            <tr class="test-input">
                <td class="title">Test input</td>
                <td class="code">
                    <pre><code id="get_similar_entities_input" class="language-json"></code></pre>
                </td>
            </tr>
            <tr class="test-result">
                <td class="title">Test result</td>
                <td class="code">
                    <pre><code id="get_similar_entities_result" class="language-json"></code></pre>
                </td>
            </tr>
        </table>

    </div>
    {% include 'footer.html' %}
    <script src="/static/prism.js"></script>
    <script src="/static/api.js"></script>
    <script src="/static/scripts/api/getEmbeddings.js"></script>
    <script src="/static/scripts/api/bootstrap.js">
    </script>
</body>

</html>