{# templates/head.html #}
<meta charset=utf-8>
<title>
    {%- if page_title -%}
    {{ page_title }} - embeddings.cc
    {%- else -%}
    embeddings.cc
    {%- endif -%}
</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&display=swap"
    rel="stylesheet">
<link href="/static/embeddings_cc.css" rel="stylesheet" />
<link href="/static/prism.min.css" rel="stylesheet" />
<!-- https://fonts.google.com/share?selection.family=Roboto%20Condensed:wght@400;700%7CRoboto%20Mono -->
<!-- https://raw.githubusercontent.com/adibaba/templates/master/claw/colors/claw-colors.svg -->