<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>embeddings.cc</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    <link href="/static/embeddings_cc.css" rel="stylesheet" />
    <!-- https://fonts.google.com/share?selection.family=Roboto%20Condensed:wght@400;700%7CRoboto%20Mono -->
    <!-- https://raw.githubusercontent.com/adibaba/templates/master/claw/colors/claw-colors.svg -->
</head>

<body>
    <div id="container">

        {% include 'nav.html' %}

        <h1>Embedding the Web: An Open Billion-Scale Repository for
            Knowledge Graph Embeddings</h1>

        <h2 id="entities" class="custom-h2">Entities</h2>

        <p>
            Knowledge Graphs can contain millions of entities.
            Entities (like persons, animals or films) have identifiers.
            Use the button below to get some examples out of available entities.
        </p>
        <h1> Embeddings available:
            <span id="slot-machine" class="slot-machine">
            </span>
            <span id="count" style="display:none;"></span>
        </h1>

        <div id="entity-container">
            <button id="random-btn">Get random entities</button>
            <div id="random-error-message"></div>
            <div id="random-entities">
                {% for e in entities %}
                <span class="entity" onclick="updateEntitySubmit('{{ e }}')">{{ e }}</span>
                {% endfor %}
            </div>
        </div>

        <h2 id="embeddings">Embeddings</h2>

        <p>
            Embeddings can be computed through analysis of properties and relationships of entities.
            Embeddings are vectors with the desired property that close embeddings correspond to a semantic similarity
            of related entities.
            Use the form below to view an example.
        </p>

        <div id="embeddings-container">
            <input type="text" id="entity-input" placeholder="Search for embeddings..." name="entity"
                value="{{ entity }}">
            <button id="embed-btn">Get embeddings</button>
            <div id="error-message"></div>
            <textarea id="embeddings-output" readonly class="whale-area">{{ embeddings }}</textarea>
        </div>

        <h2>Data</h2>

        <p>
            Embeddings computed on data from
            <a target="_blank" href="https://webdatacommons.org/structureddata/2023-12/stats/stats.html"> Web data
                commons</a> with <a target="_blank"
                href="https://www.bibsonomy.org/bibtex/2ac49956ebfe267691c250c9d62aeee21/dice-research">DeCal</a>.
            You can find the underlying data dump <a target="_blank"
                href="https://files.dice-research.org/datasets/WHALE/WDC/embeddings/">here,</a> which contains around 9
            billion IRIs.
        </p>
        <p>
            Old data related to the article <i>Universal Knowledge Graph Embeddings</i> can be found on this <a
                href="/old">page</a>.
        </p>

        <h2>Collaboration</h2>

        <p>
            And now? We offer embeddings as a service with a convenient <a href="/api">API</a>. <br />
            Our experts are continuously working on updates, we try to hide them in the <a href="/news">news</a>.
        </p>

        <script
            src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>

    </div>
    {% include 'footer.html' %}
    <script src="/static/scripts/helpers.js"></script>
    <script src="/static/scripts/slot.js"></script>
    <script src="/static/scripts/getRandom.js"></script>
    <script src="/static/scripts/getEmbed.js"></script>
</body>

</html>