<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>News - embeddings.cc</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="/static/embeddings_cc.css" rel="stylesheet" />
</head>
<body>
<div id="container">

<div id="nav">
<span style="width:215px;padding:8px 0;display:inline-block">&nbsp;</span>
<a href="/">Introduction</a>
<a href="/api">API</a>
<a href="/news">News</a>
</div>

<h1>News</h1>

<a class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/DiceResearch">Tweets by DiceResearch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--
<a class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/embeddings_cc">Tweets by embeddings_cc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->
</body>
</html>
