<!DOCTYPE html>
<html lang=en>

<head>
    {% include 'head.html' %}
</head>

<body>
    <div id="container">

        {% include 'nav.html' %}

        <h1>News</h1>

        <p>
            We use Twitter to publish news.
            Follow <a target="_blank" href="https://twitter.com/embeddings_cc">@embeddings_cc</a> to get news from our
            side. <br />
            If you're using our data, we would love to see you using the hashtag <a target="_blank"
                href="https://twitter.com/intent/tweet?text=We+use+Universal+Knowledge+Graph+Embeddings.+Hello+to+%40embeddings_cc+%23embeddings_cc">#embeddings_cc</a>!
        </p>

        <div>
            <a class="twitter-timeline" data-width="600" data-dnt="true" href="https://twitter.com/embeddings_cc">Tweets
                by embeddings_cc</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
    {% include 'footer.html' %}
</body>

</html>